@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


h1 {color: white; text-align: center;font-family: 'Lobster', cursive;font-size: 4rem;}

header {background-color: pink;}

body {background-color: pink;}

h2 {text-align: center; color: white;border:3px solid purple; background-color: violet; border-radius:10px;font-family: 'Courgette', cursive;}

.row {width: 50rem;margin-left: auto;margin-right: auto;}
